html,
body {
  width:     100%;
  height:    100%;
  margin:    0;
  padding:   0;
  font-size: 14px;
}


/* PAGE CONTAINER ---------------------------- */

div.outer {
  position: fixed;
  top:      41px;
  left:     0;
  right:    0;
  bottom:   0;
  overflow: hidden;
  padding:  0;
}


/* NAVBAR STYLE ------------------------------ */

#nav {
  text-align: right;
  width:      87.5%;
}

#nav li {
  float: left;
}

#nav li:nth-last-child(1) {
  float:   none;
  display: inline-block;
}

#nav li:last-of-type a {
  color: #1d67b8;
}

#nav li:last-of-type a:hover {
  color: #0d2e52;
}


/* COMMON TAGS ------------------------------- */

h4 {
  text-align: center;
  color:      #555;
  font-size:  16px;
  margin-top: 20px;
}

h5 {
  color:       #555;
  font-size:   14px;
  font-weight: 700;
}

a {
  color: #555;
}

a:hover {
  text-decoration: none;
  color:           #555;
}

.fab {
  margin-right: 5px;
}


/* LEAFLET MAP ------------------------------- */

#map_climate,
#map_species {
  margin:        0;
  margin:        0;
  border:        1px solid #ddd;
  border-radius: 5px;
  z-index:       0;
  height:        100%;
}

.leaflet-container {
  background-color: white !important;
}


/* FORM STYLE -------------------------------- */

#panel_species,
#panel_climate {
  background-color: white;
  padding:          0 20px 20px 20px;
  cursor:           move;
  opacity:          0.65;
  zoom:             0.9;
  transition:       opacity 500ms 1s;
}

#panel_species:hover,
#panel_climate:hover {
  opacity:          0.95;
  transition-delay: 0;
}

label.control-label,
.selectize-input,
.selectize-dropdown,
#class_species,
#select_species,
#class_climate,
#select_climate {
  color:     #555;
  font-size: 14px;
}

.shiny-options-group {
  height:               auto;
  width:                100%;
  -webkit-column-count: 2;
  -moz-column-count:    2;
  column-count:         2;
  -webkit-column-fill:  balance;
  -moz-column-fill:     balance;
  column-fill:          balance;
  margin-top:           0px;
}

.control-label {
  padding-top:    0px;
  padding-bottom: 10px;
}

div.radio {
  margin-top:     0px;
  margin-bottom:  0px;
  padding-bottom: 5px;
}


/* MAP LEGEND -------------------------------- */

.legend {
  text-align: center;
}


/* DOWNLOAD BUTTON --------------------------- */

.btn-png {
  padding:       5px 10px;
  border:        1px solid #ccc;
  border-radius: 5px;
}

.btn-png i {
  padding-right: 5px;
}

.btn-png:hover {
  background-color: #1d67b8;
  border:           1px solid #1d67b8;
  color:            #eee;
}


/* COLOR PICKER ------------------------------ */

#menu_species,
#menu_climate {
  overflow:      scroll;
  height:        100px;
  display:       none;
  border:        1px solid #cccccc;
  border-radius: 5px;
  margin-top:    2px;
  box-shadow:    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#grad_species,
#grad_climate {
  border:        1px solid #cccccc;
  border-radius: 5px;
  padding:       0;
  height:        37px;
  z-index:       999;
}

#color-sel_species,
#color-sel_climate {
  vertical-align: middle;
  margin:         5px;
  padding:        0;
  height:         25px;
  width:          85%;
  float:          left;
  border-radius:  5px;
}

.color-list {
  margin:        2px 5px;
  padding:       0;
  height:        25px;
  border:        1px solid white;
  border-radius: 5px;
}

.color-list:hover {
  border: 1px solid #888;
}

#color-arrow_species,
#color-arrow_climate {
  float:        left;
  width:        8%;
  height:       25px;
  margin:       5px;
  margin-right: 0;
  text-align:   center;
}

i.fa-caret-down {
  padding:     0;
  padding-top: 5px;
  margin:      0;
}

#menu_species:hover,
#grad_species:hover,
#menu_climate:hover,
#grad_climate:hover {
  cursor: pointer;
}

#menu_species > div:first-of-type,
#menu_climate > div:first-of-type {
  margin-top: 4px;
}

#menu_species > div:last-of-type,
#menu_climate > div:last-of-type {
  margin-bottom: 4px;
}

.shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
}
